<div ng-if="!inviteValid">

    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center">
                <h4 style="display: inline-block;">Welcome to Shift on Tap!</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center">
                <p style="display: inline-block;">The invite you're trying to use has already been activated.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center">
                <p style="display: inline-block;">Would you like to <a ng-click="openSignup()">Sign Up</a> or <a ng-click="openLogin()">Log In</a>?</p>
            </div>
        </div>
    </div>

</div>
<div ng-if="inviteValid">
    <auth-modal error-obj="errorObj" action="'accept'" email="email" invite-code="code" title="'Welcome to Shift on Tap!'"></auth-modal>
</div>