<h3>{{companyName}} Shift Board</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Comments</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="availableShift in availableShifts | filter:{ available : true }">
            <td>{{availableShift.start_datetime}}</td>
            <td>{{availableShift.end_datetime}}</td>
            <td>{{availableShift.comment}}</td>
            <td>{{availableShift.user}}</td>
            <td><button class="btn btn-primary" type="submit" ng-click="reclaim(availableShift.id)">Reclaim</button></td>
        </tr>
        </tbody>
    </table>
</div>