<uib-accordion-heading>
    <div class="row">
        <span class="col-sm-6 col-md-6 col-lg-6 text-align-left">{{shift.start_datetime | amTimezone: user.timezone | amDateFormat:'h:mma'}}-{{shift.end_datetime | amTimezone: user.timezone | amDateFormat:'h:mma'}}</span><span class="col-sm-6 col-md-6 col-lg-6 text-align-right">{{shift.start_datetime | amTimezone: user.timezone | amDateFormat:'ddd, MMM Do'}}</span><br />
    </div>
</uib-accordion-heading>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span ng-if="shift.user==user.id">
                    <span class="helper"></span>
                    <button class="btn btn-primary" ng-if="shift.available==true" type="submit" ng-click="reclaim(shift.id)">Reclaim</button>
                    <!--<button class="btn btn-primary" ng-if="shift.available==false" type="submit" ng-click="markAvailable(shift.id)">Mark Available</button>-->
                    <button class="btn btn-primary" ng-if="shift.available==false && (coworkers==null || coworkers.length==0)" type="submit" ng-click="markAvailable(shift.id)" uib-tooltip="Add co-workers first to ensure they're notified">Mark Available</button>
                    <button class="btn btn-primary" ng-if="shift.available==false && (coworkers!=null && coworkers.length>0)" type="submit" ng-click="markAvailable(shift.id)">Mark Available</button>
                    <button class="btn btn-danger" type="submit" ng-click="delete(shift.id)">Delete</button>
                </span>
                <span ng-if="shift.user!=user.id">
                    <span class="helper"></span>
                    <button class="btn btn-primary" ng-if="shift.available==true" type="submit" ng-click="claim(shift.id)">Claim Shift</button>
                </span>
                <div class="pull-right">
                    <span class="helper"></span>
                    <img class="thumbnail-unique" src="images/GabeStanekThumbnail.jpeg" alt="Gabe Stanek Thumbnail" />
                </div>
            </div>
        </div>
        <div class="row" ng-if="shift.comment">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span class="left-padding">{{shift.comment}}</span>
            </div>
        </div>
    </div>
</div>