<div ng-controller='PersonaCtrl'>

    <!-- NO_REALM -->
    <!-- REALM_NO_USER -->
    <!-- REALM_USER_NO_SHIFTS -->
    <!-- REALM_USER_SHIFTS_NO_COWORKERS -->
    <!-- REALM_USER_SHIFTS_COWORKERS -->

    <div ng-if="personaDisplayState=='NO_REALM'">
        <create-realm-directive></create-realm-directive>
    </div>
    <!--<div ng-if="personaDisplayState=='REALM_USER_NO_COWORKERS'">-->
        <!--<add-users-directive></add-users-directive>-->
    <!--</div>-->
    <div ng-if="personaDisplayState=='REALM_USER_NO_SHIFTS'">
        <add-shift-directive on-save="ok()" on-cancel="cancel()"></add-shift-directive>
    </div>
    <div ng-if="personaDisplayState=='REALM_USER_SHIFTS_COWORKERS'">
        <div class="row">
            <h3 col-md-12>{{companyName}} Shift Board</h3>
        </div>
        <div class="row">
            <div class="col-md-10">
                <realm-available-shift-list-directive></realm-available-shift-list-directive>
                <user-shift-list-directive></user-shift-list-directive>
            </div>
            <div class="col-md-2">
                <div class="row" >
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <div class="row sidebar-block">
                            <div class="col-sm-12 col-md-12 col-lg-12" >
                                <button class="btn btn-primary sidebar-button" type="button" ng-click="openAddShiftModal()">Add Shift</button>
                            </div>
                        </div>
                        <div class="row sidebar-block">
                            <div class="col-sm-12 col-md-12 col-lg-12" >
                                <button class="btn btn-primary sidebar-button" type="button" ng-click="openAddUsersModal()">Invite Co-Workers</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>