

<div ng-controller='PersonaCtrl'>
    <div ng-if="isActiveRealm && isShiftPresent()">
        <div class="row">
            <div class="col-md-10">
                <realm-available-shift-list-directive></realm-available-shift-list-directive>
                <user-shift-list-directive></user-shift-list-directive>
            </div>
            <div class="col-md-2">
                <button class="btn btn-info" type="button" ng-click="open()">Add Shift</button>
            </div>
        </div>
    </div>
    <div ng-if="isActiveRealm && !isShiftPresent()">
        <add-shift-directive></add-shift-directive>
    </div>
    <create-realm-directive ng-if="isActiveRealm == false"></create-realm-directive>


</div>