<div ng-controller='PersonaCtrl'>

    <!-- NO_REALM -->
    <!-- REALM_NO_USER -->
    <!-- REALM_USER_NO_SHIFTS -->
    <!-- REALM_USER_SHIFTS_NO_COWORKERS -->
    <!-- REALM_USER_SHIFTS_COWORKERS -->

    <div ng-if="personaDisplayState=='NO_REALM'">
        <create-realm-directive></create-realm-directive>
    </div>
    <!--<div ng-if="personaDisplayState=='REALM_USER_NO_COWORKERS'">-->
        <!--<add-users-directive></add-users-directive>-->
    <!--</div>-->
    <div ng-if="personaDisplayState=='REALM_USER_NO_SHIFTS'">
        <add-shift-directive on-save="ok()" on-cancel="cancel()" error-obj="errorObj"></add-shift-directive>
    </div>
    <div ng-if="personaDisplayState=='REALM_USER_SHIFTS_COWORKERS' || personaDisplayState=='REALM_USER_SHIFTS_NO_COWORKERS'">
        <div class="row">
            <div class="col-md-2 sidebar-coworkers">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Co-Workers</h5>
                    </div>
                </div>
                <div ng-if="coworkers != null && coworkers.length > 0" class="row" ng-repeat="employee in coworkers">
                    <div class="col-md-12">{{employee.first_name}} {{employee.last_name}}</div>
                </div>
                <div ng-if="coworkers == null || coworkers.length==0">
                    <div class="col-md-12"><p>No co-workers currently registered</p><a ng-click="openAddUsersModal()">Invite co-workers</a></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="padding-top: 0px; margin-top: 0px;">{{companyName}} Shift Board</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <realm-available-shift-list-directive></realm-available-shift-list-directive>
                        <user-shift-list-directive></user-shift-list-directive>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row sidebar-block">
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <button class="btn btn-primary sidebar-button" type="button" ng-click="openAddShiftModal()">Add Shift</button>
                    </div>
                </div>
                <div class="row sidebar-block">
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <button class="btn btn-primary sidebar-button" type="button" ng-click="openAddUsersModal()">Invite Co-Workers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>