<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center text-muted">Shift on Tap</h3>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">Shift on Tap is built for hourly employees</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">Easily pick up available shifts or post the shifts you don't want</p>
        </div>
    </div>
    <br/>
    <div ng-if="isActiveUser == false">
        <div class="row">
            <div class="col-xs-12">
                <p class="lead text-center">Sign up for free to get started!</p>
            </div>
        </div>
        <auth-modal action="'signup'" email="Email" title="'Sign Up'"></auth-modal>
    </div>

</div>