<div ng-controller='AboutCtrl'>
  <h4>The Problem</h4>
  <p>As an hourly employee, you will always need to adjust your shifts.  There are times when obligations outside of work come up and you need to find a replacement for a shift you have been scheduled for.  There are also times when you need some extra cash and are looking for more shifts to pick up.</p>
  <p>The process for an employee to make a change for a given shift is tedious.  Usually, the process involves cycling through a list of phone numbers, calling each one until a co-worker agrees to take a given shift.  Email is also used.  In other instances, a list of available shifts is maintained via paper and pencil at the business.  None of these methods are efficient or easily match shifts with the employees that want them most.</p>
  <h4>The Solution</h4>
  <p>Shift is an application that makes the process of posting shifts and picking up shifts easy for the employee.  No longer will an employee need to go down a list of phone numbers and ask for a co-worker to take a shift they were assigned.  On the other hand, if you need some extra cash, it's easy to see the shifts that are available when employees use Shift.</p>
</div>

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>